/* CSS declarations go here */

/* cusomise for your talk */
.deck .slide{
	font-family: Futura;
	font-size: 5em;
	background-color: #333;
	color: #EEE;
}
/* ---------------------- */

body{
	font-family: Futura;
}

body.edit{
	padding: 0 20px 0 20px;
	margin:0 auto;
	font-family: Futura;
	background: #555;
	color: #EEE;
}
h1, h2 {
	margin: 10px 0;
}
h1{
	font-size: 1.4em;
}
#login-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}
.src, .preview {
	height: 90%
}
.src, .edit .deck {
	height: 626px;
}
.src {
	display: none;
	width: 800px;
	font-size: 1.6em;
	font-family: courier, monospace;
}
.edit .src {
	display: inline-block;
}
.edit .deck {
	width: 330px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	overflow-y:scroll;
}
.edit .slide {
	font-size: 1em;
	display: inline-block;
	margin: 0 0 20px;
	padding: 10px;
	width: 280px;
	height: 180px;
	border-radius:3px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.edit .slide h1 {
	text-align: center;
	font-size: 2em;
}
.edit .slide img{
	max-width: 100%;
}
.show > header,
.show .src {
	display: none;
}
.deck .slide.image{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.slide.image p{
	color:white;
	background: rgba(0,0,0,0.4);
	margin: 0 -10px;
	padding: 0 10px;
}